[submodule "backend"]
	path = backend
	url = https://github.com/Teoflr/hrapplication
	branch = master
[submodule "frontend"]
	path = frontend
	url = https://github.com/Teoflr/hrapplication-frontend
	branch = main
